<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Brak strony</title>
</head>
<body>

<div th:replace="fragments :: navbar">navbar</div>
<div th:replace="fragments :: title(subtitle='Wszyskie zwierzaki')">title</div>


<!--<form th:action="@{/wszystkieZwierzaki}" method="get">-->
    <!--<div class="row">-->
        <!--<div class="col-auto my-1">-->
            <!--<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="cat">-->
                <!--<option th:each="option : ${cat}" th:text="${option}"></option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="col-auto my-1">-->
            <!--<button type="submit" class="btn btn-primary">Filtruj Zwierzaki</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</form>-->
<!--<br>-->

<div class="container-fluid">
    <div class="row">

        <div class="col-3" th:each="przepis : ${lista}">
            <!--<a th:href="|/singleAnimal?UID=${prz()}|">-->
                <!--<img th:src="${przepis()}" class="img-fluid">-->
            <!--</a>-->
            <div class="text-center">
                <h3 th:utext="${przepis.getName()}">zwierzak</h3>
            </div>
        </div>

    </div>
</div>


<div th:replace="fragments :: footer">footer</div>
</body>
</html>
